@using Blazor.Diagrams.Components.Renderers
@using Blazor.Diagrams.Core.Models;

<div style="opacity: @(Opacity.ToString("0.00", System.Globalization.CultureInfo.InvariantCulture))">
    <MudCard class="selectedGlow" style="width: 300px">
        @{
            Console.WriteLine($"{DateTime.Now} {counter++} Lmaoooo");
        }

        @if (Node.GetPort(PortAlignment.Top) is { } topPort)
        {
            <PortRenderer Port="topPort"></PortRenderer>
        }

        <MudCardContent>
            <MudText Typo="Typo.h5"><a href="@Node.Item?.HtmlUrl" target="_blank">@Node.Item?.Name</a></MudText>
        </MudCardContent>

        <MudCardMedia Image="@Node.Item?.Owner.AvatarUrl" Height="100" />

        <MudCardContent>
            <MudText>Name</MudText>
            <MudText Typo="Typo.body2">@Node.Item?.Name</MudText>
        </MudCardContent>

        <MudCardContent>
            <MudText>Owner</MudText>
            <MudText Typo="Typo.body2">@Node.Item!.Owner.Login</MudText>
        </MudCardContent>

        <MudCardContent>
            <MudText>Forks</MudText>
            <MudText Typo="Typo.body2">@Node.Item?.ForksCount</MudText>
        </MudCardContent>

        <MudCardContent>
            <MudText>Stars</MudText>
            <MudText Typo="Typo.body2">@Node.Item?.StargazersCount</MudText>
        </MudCardContent>

        @if (Node.GetPort(PortAlignment.Bottom) is { } botPort)
        {
            <PortRenderer Port="botPort"></PortRenderer>
        }
    </MudCard>
</div>
@code{
    static int counter = 1;
}